@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");

body {
  border: 10px rgb(211, 211, 211);
  height: 800px;
  background-image: linear-gradient(rgb(229, 124, 239) 60%, aqua);
}

.texto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}

.h3 {
  font-family: milonga;
  border-radius: 50px;
  background-color: aqua;
  height: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}

.image {
  display: flex;
  justify-content: start;
  margin-top: -180px;
}

.image2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lupa {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
  align-items: flex-end;
}

.desenho {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.texto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 320px;
  margin-right: 80px;
}
.sub {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 320px;
  margin-right: 20px;
  margin-top: -50px;
  color: aliceblue;
}

.fonte {
  font-family: milonga;
  font-size: 30px;
}

.sacola {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  margin-left: 200px;
  margin-right: 1000px;
  margin-top: 99px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.737),
    rgba(255, 255, 255, 0.688)
  );
  z-index: -1;
}

.linha {
  border: solid 1px aqua;
  margin-left: 200px;
  margin-right: 200px;
}

.texto2 {
  position: absolute;
  width: 299px;
  height: 73px;
  left: 400px;
  top: 487px;
}

.caixa {
  border-radius: 15px;
  position: absolute;
  width: 566px;
  height: 215px;
  left: 790px;
  top: 388px;
  margin-left: 130px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.737),
    rgba(255, 255, 255, 0.688)
  );
}

.texto3 {
  position: absolute;
  width: 299px;
  height: 78px;
  left: 1200px;
  top: 506px;
}

.aba {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 470px;
  border-radius: 15px;
  margin-left: 200px;
  margin-right: 1000px;
  margin-top: 50px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.737),
    rgba(255, 255, 255, 0.688)
  );
  z-index: -1;
}

.aba2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 570px;
  border-radius: 15px;
  margin-left: 910px;
  margin-right: 150px;
  margin-top: -100px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.737),
    rgba(255, 255, 255, 0.688)
  );
  z-index: -1;
}

.linha2 {
  border: solid 1px purple;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 70px;
}

.textolinha {
  position: absolute;
  width: 222.32px;
  height: 15.11px;
  left: 400px;
  top: 770px;
  display:flex ;
  justify-content: space-between;
  flex-direction: row;
  gap: 200px;

  font-family: "IM FELL Great Primer";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  color: #000000;
}
